.footer {
    background-color: $black;
    color: $white;
    min-height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer__rights {
    margin: 10px;
}

.footer__others {
    display:flex;
    flex-direction: row;
    align-items: baseline;
    input, button {
        margin: 2px;
    }
    input {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        justify-content: center;
    }

    .footer__others {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
            margin-left: 0;
        }
    }
}